<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dju.teambabo.proj.bigbrother_client_android_102">

    <!-- Bigbrother -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera2" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="adjustResize"
        >

        <!-- 카메라 파일 프로바이더 -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="dju.teambabo.proj.bigbrother_client_android_102.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CameraLuncherActivity" />

        <!-- boradcastReciver -->
        <receiver android:name=".BigbrotherBroadcastReceiverMain">
            <intent-filter>
                <action android:name="dju.teambabo.proj.bigbrother_client_android_102.gogo" />
            </intent-filter>
        </receiver>

        <activity android:name=".AlertListViewActivity" />
        <activity android:name=".ImageViewDialogActivity" android:theme="@android:style/Theme.Dialog">

        </activity>
    </application>

</manifest>